name: Continuous Deployment

on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy-app:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'develop'

    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    env:
      AWS_DEFAULT_REGION: us-east-2
      STACK_NAME: challenge-infra
      LAMBDA_NAME: challenge-api

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/Gitlab-AssumeRoleWithAction
          aws-region: us-east-2

      - name: Install dependencies
        run: |
          pip install .[dev]

      - name: Package Lambda
        run: |
          cp -r src/* package/
          cd package
          zip -r ../lambda.zip .

      - name: Deploy Lambda code
        run: |
          aws lambda update-function-code \
            --function-name $LAMBDA_NAME \
            --zip-file fileb://lambda.zip

      - name: Restart Lambda
        run: |
          aws lambda publish-version \
            --function-name $LAMBDA_NAME
